.experience {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.experience h3 {
    text-align: justify;
}

.experience h4 {
    text-align: justify;
}